*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.recadoStatus{
    width: 35%;
    max-width: 415px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
    transition: all ease 0.5s;
}

.newChat--head{
    display:flex;
    background-color: #00BFA5;
    align-items: center;
    padding: 60px 15px 15px 15px;
}

.newChat--backbutton{
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.newChat--headtitle{
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    flex: 1;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}